*{
    margin: 0px;;
}
.navbar {
    position: relative;
    margin-left: 0px;
    height: 340px;
    width: 100vw;
    background-image: url("images/real estate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center;
}

#navigate {
    height: 70px;
    background-color: white;
    margin-top: auto; /* Push this div to the bottom */
    width: 70%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid black;
    border-bottom: white;
    display: flex;
    justify-content: space-around;   
    align-items: center; 
}
span:hover{
    font-weight: bold;
}
.searching{
    height: 70px;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;   
    align-items: center;
}